/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
  
  
  /* Rulesets to be matched up with selectors */
  
  .card2 {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(117, 206, 126);
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card2 header {
    background-image: linear-gradient(to bottom,rgbargba(223, 20, 20, 0), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    height: 3em;
    /* should give padding on all sides */
    padding: 1em;
  }
  
  .card2 footer {
    background-image: linear-gradient(to bottom,rgba(223, 20, 20, 0), rgba(0, 0, 0, 0));
    border-radius: 0 0 1.5em 1.5em;
    height: 3em;
    padding: 1.5em;
  }
  
  .card2 article img {
    max-height: 100%;
    height: 12em;
    float: right;
    background-color: rgba(219, 22, 22, 0.5);
  }

  .card2 article {
    background-color: rgb(81, 205, 93);
  }

  h2, p {
    margin: 0px;
  }

  h2 {
    font-size: 2em;
    /* total height is 30px and the height is 20px so 5px on either side */
  }

  .card2 footer p {
    font-size: 1.5em;
    /* 30px content box heigh, 15px font-size, 7.5 on either side */
    height: .75em;
    /* padding-top: .5em; */
  } 

  .card2 article p {
    padding: 7.5px;
    font-size: 1.25em;
    color: rgba(46, 45, 45, 0.5);
  }





  /* 
  background color is red
  we have a header
  we have an article section which hold the main content of the card
  */

  body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
  
  
  /* Rulesets to be matched up with selectors */
  
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;

  }
  
  .card header {
    background-image: linear-gradient(to bottom,rgbargba(223, 20, 20, 0), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    height: 3em;
    /* should give padding on all sides */
    padding: 1em;
  }
  
  .card footer {
    background-image: linear-gradient(to bottom,rgba(223, 20, 20, 0), rgba(0, 0, 0, 0));
    border-radius: 0 0 1.5em 1.5em;
    height: 3em;
    padding: 1.5em;
  }
  
  .card article img {
    max-height: 100%;
    height: 12em;
    float: right;
    background-color: rgba(219, 22, 22, 0.5);
  }

  .card article {
    background-color: rgba(219, 22, 22, 0.5);
  }

  h2, p {
    margin: 0px;
  }

  h2 {
    font-size: 2em;
    /* total height is 30px and the height is 20px so 5px on either side */
  }

  .card footer p {
    font-size: 1.5em;
    /* 30px content box heigh, 15px font-size, 7.5 on either side */
    height: .75em;
    /* padding-top: .5em; */
  } 

  .card article p {
    padding: 7.5px;
    font-size: 1.25em;
    color: lightgrey;
  }





  /* 
  background color is red
  we have a header
  we have an article section which hold the main content of the card
  */

  .card2 {
    font: 'Georgia';
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(117, 206, 126);
    border: 0.2em solid black;
    border-radius: 1.5em;
    font-family: Georgia, serif;
  }
  
  .card2 header {
    background-image: linear-gradient(to bottom,rgbargba(223, 20, 20, 0), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    height: 3em;
    /* should give padding on all sides */
    padding: 1em;
  }
  
  .card2 footer {
    background-image: linear-gradient(to bottom,rgba(223, 20, 20, 0), rgba(0, 0, 0, 0));
    border-radius: 0 0 1.5em 1.5em;
    height: 3em;
    padding: 1.5em;
  }
  
  .card2 article img {
    max-height: 100%;
    height: 12em;
    float: right;
    background-color: rgba(219, 22, 22, 0.5);
  }

  .card2 article {
    background-color: rgb(81, 205, 93);
  }

  h2, p {
    margin: 0px;
  }

  h2 {
    font-size: 2em;
    /* total height is 30px and the height is 20px so 5px on either side */
  }

  .card2 footer p {
    font-size: 1.5em;
    /* 30px content box heigh, 15px font-size, 7.5 on either side */
    height: .75em;
    /* padding-top: .5em; */
  } 

  .card2 article p {
    padding: 7.5px;
    font-size: 1.25em;
    color: rgba(46, 45, 45, 0.5);
  }





  /* 
  background color is red
  we have a header
  we have an article section which hold the main content of the card
  */
  
  /* Selectors to be matched up with rulesets */
  
  
  /* Rulesets to be matched up with selectors */
  
  .card3 {
    font: 'Times New Roman';
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(210, 123, 56);
    border: 0.2em solid black;
    border-radius: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .card3 header {
    background-image: linear-gradient(to bottom,rgba(223, 20, 20, 0), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    height: 3em;
    /* should give padding on all sides */
    padding: 1em;
  }
  
  .card3 footer {
    background-image: linear-gradient(to bottom,rgba(223, 20, 20, 0), rgba(0, 0, 0, 0));
    border-radius: 0 0 1.5em 1.5em;
    height: 3em;
    padding: 1.5em;
  }
  
  .card3 article img {
    max-height: 100%;
    height: 12em;
    float: right;
    background-color: rgba(219, 22, 22, 0.5);
  }

  .card3 article {
    background-color: rgb(207, 104, 25);
  }

  h2, p {
    margin: 0px;
  }

  h2 {
    font-size: 2em;
    /* total height is 30px and the height is 20px so 5px on either side */
  }

  .card3 footer p {
    font-size: 1.5em;
    /* 30px content box heigh, 15px font-size, 7.5 on either side */
    height: .75em;
    /* padding-top: .5em; */
  } 

  .card3 article p {
    padding: 7.5px;
    font-size: 1.25em;
    color: lightgrey;
  }





  /* 
  background color is red
  we have a header
  we have an article section which hold the main content of the card
  */